RewriteEngine On
RewriteRule ^index$ index.php
RewriteRule ^create-blog$ create-blog.php
RewriteRule ^create-category$ create-category.php
RewriteRule ^category-list$ category-list.php
RewriteRule ^edit-blog-([a-zA-Z0-9_-]+)$ edit-blog.php?id=$1
RewriteRule ^edit-category-([a-zA-Z0-9_-]+)$ edit-category.php?id=$1


